.first_time_user_container_screen {
    background: var(--theme-gradiant-color);
    width: 100%;
    height: 100%;
}


.first_time_user_container_screen .logo_in_container {
    display: flex;
    margin: auto;
    width: 100%;
    margin-top: .9rem;
    border-radius: 16px;
}

.first_time_user_container_screen .welcome_screen_text {
    text-align: center;
}

.first_time_user_container_screen .welcome_screen_text .welcome_txt {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 55px;
}

.first_time_user_container_screen .welcome_screen_text .welcome_txt2 {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 40px;
}
.first_time_user_container_screen hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.first_time_user_container_screen .welcome_screen_text_2_sec {
    text-align: center;
    color: #813213;
    font-size: 1.1;
}

.first_time_user_container_screen .welcome_screen_text_2_sec button.welcome_txt_se_button {
    padding: 25px 55px;
    margin: 10px 17px;
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: .04333rem;
    border-radius: 1.06667rem;
    background: #ce743b;
}
.first_time_user_container_screen .welcome_screen_text_2_sec .welcome_txt_se_2 {
    font-size: 1.1rem;
}

.first_time_user_container_screen .welcome_screen_text_2_sec .welcome_txt_se_3 {
    font-size: 1rem;
    text-align: justify;
    padding: 1rem;
}