@media screen and (max-width: 999px) {
    /* For Chrome, Edge, Safari, Opera */
    *::-webkit-scrollbar {
        width: 0px;    /* vertical scrollbar */
        height: 0px;   /* horizontal scrollbar */
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background: transparent;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    /* For Firefox */
    * {
        scrollbar-width: none; /* hides scrollbar */
        -ms-overflow-style: none; /* IE 10+ */
    }

    *::-webkit-scrollbar-corner {
        background: transparent;
    }

    .page-content {
        --padding-top: 70px;
        --padding-bottom: 10px;
    }
    ion-tab-button {
        font-size: var(--font-size-4);
    }

    .sudo_search_div_place_holder_search {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: 1px solid #ddd; /* subtle border */
        border-radius: 50px;    /* fully rounded */
        padding: 0.6rem 1rem;
        font-size: var(--font-size-3);
        color: var(--font-color);
        cursor: pointer; /* make it clickable if it opens a search modal */
        transition: border 0.2s ease, box-shadow 0.2s ease;
    }
    .sudo_search_div_place_holder_search ion-icon {
        font-size: var(--font-size-4);
        color: var(--font-color);
    }

    .toolbar-container{background-color: var(--ion-color-light)}

    /*///// NEWS PAGE /////*/
    /* NewsFeedPage.css */
    .page-content {
        --background: #ffffff;
    }

    .news-feed-page {
        display: flex;
        flex-direction: column;
        height: 100%;
        top: -3px;
        position: relative;
    }

    .news-menu {
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        height: 48px;
        z-index: 9999;
        background: #ffffff;
    }

    /* Mobile menu */

    .with_login-menu-item-header-row {
        align-items: center;
        padding-bottom: 16px;
        border-bottom: 1px solid #e5e5e5;
    }

    .with_login-menu-item.menu-names {
        margin-left: 12px;
    }
    .with_login-menu-item {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: var(--font-size-3);
        color: rgb(106 105 105);
        margin-bottom: 30px;
    }

    .with_login-menu-item ion-icon {
        font-size: var(--font-size-3);
        color: var(--icon-color);
    }
    .with_login-menu-item span {
        font-size: var(--font-size-3);
        color: var(--font-color);
    }

    .news-tab {
        background: none;
        border: none;
        font-size: var(--font-size-3);
        color: var(--heading-color);
        padding: 8px 8px;
        cursor: pointer;
    }

    .news-tab.active {
        color: var(--primary-color);  /* Your theme color */
        font-weight: bold;
    }
    /* Container scroll snap */

    .news-card-stack {
        position: relative;
        height: 100%;
        margin-top: 50px;
    }

    .news-card {
        position: absolute;
        height: 100%;
        width: 98%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin: 2px 4px 4px 4px;
        box-shadow: 0px 3px 20px 0px #eaeaea;
        border-radius: 10px;
        border: 1px solid #ededed;
    }

    .news-image {
        width: 100%;
        height: 260px;
    }

    .news-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 1rem 0;
    }

    .news-content h2 {
        font-size: var(--font-size-2);
        font-weight: 600;
        padding: 0 1rem;
        margin-bottom: 8px;
        margin-top: 0px;
        color: var(--heading-color);
    }

    .news-content p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 0 12px;
        text-overflow: ellipsis;
        line-height: 1.5;
        font-size: var(--font-size-3);
        color: var(--font-color);
        margin: 0;
        word-wrap: break-word;      /* old syntax, widely supported */
        overflow-wrap: break-word;  /* modern syntax, does same thing */
    }


    .news-footer {
        font-size: var(--font-size-4);
        padding: 0 1rem;
        margin-top: 22px;
        display: flex;
        color: #b4b4b4;
        align-items: flex-end;
    }


    .news-sub-h-text {
        display: flex;
        padding: 0 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .news-category {
        font-size: var(--font-size-4);
        font-weight: 500;
        margin: 0px;
    }

    .news-actions {
        display: flex;
        gap: 12px;
        font-size: var(--font-size-1);
        color: var(--font-color);
    }

    .news-actions ion-icon {
        cursor: pointer;
    }
    /*///// NEWS PAGE /////*/

    .header_button_right ion-icon{
        font-size: var(--font-size-1);
    }
    .with_login-menu-item.menu-names.active span {
        color: var(--primary-color);
    }

    .with_login-menu-item.menu-names.active ion-icon.top_header_icon {
        color: var(--primary-color);
    }

    /* === Job Portal === */
    .mobile-job-list-page {
        background: #f9fafc;
        padding: 16px;
    }

    .filter-header {
        display: flex;
        align-items: center;
        gap: 8px; /* Space between icon and tags */
        flex-wrap: wrap; /* Wrap on small screens */
        margin-bottom: 16px;
        margin-left:1rem ;
        width: 100%;
    }

    .filter-header ion-button {
        --color: var(--font-color);
        font-size: var(--font-size-4);
        align-self: flex-start;
        width: 8%!important;
    }

    .filter-header .tags {
        display: flex;
        flex-wrap: nowrap;      /* Make it scroll horizontally */
        overflow-x: auto;       /* Allow horizontal scrolling */
        gap: 8px;
        -webkit-overflow-scrolling: touch; /* Smooth scroll on iOS */
        scrollbar-width: none;  /* Firefox hide scrollbar */
        width: 85%;
    }

    .filter-header .tags::-webkit-scrollbar {
        display: none;          /* Chrome/Safari hide scrollbar */
    }

    .filter-header .tag {
        flex: 0 0 auto;         /* Prevent tags from shrinking */
        display: inline-block;
        background: #f0f0f0;
        color: var(--font-color);
        font-size: var(--font-size-4);
        padding: 6px 12px;
        border-radius: 20px;
        cursor: pointer;
        white-space: nowrap;    /* Prevent text wrap */
        transition: background 0.3s;
    }

    .job-alert {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--font-size-5);
    }

    .results-count {
        font-size: var(--font-size-5);
        color: #555;
    }

    .job-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0 1rem;
    }

    .sheet_modal_header{
        box-shadow: unset!important;
        border-bottom: 1px solid #cccccc!important;
    }

    .more-sheet-modal {
        margin-bottom: 56px!important;
    }


    .filter-header-wrapper {
        position: sticky;
        width: 100%;
        z-index: 10;
        top: -6px;
        display: flex;
        padding-top: 12px;
        background: #ffffff;
        border-bottom: 1px solid #ddd;
        transition: transform 0.3s ease-in-out;
    }
    .filter-header-wrapper.sticky {
        top: -70px;
        padding-top: 1rem;
    }
    .mobile-job-list-page .job-list{
        padding-top: 20px;
    }
    /*////// filter modal //////*/
    .filter-content {
        display: flex;
        flex-direction: row;
        height: calc(100% - 60px);
        font-size: var(--font-size-4);
        color: var(--font-color);
    }

    .filter-menu {
        flex: 0 0 35%;
        border-right: 1px solid #ddd;
        overflow-y: auto;
    }
    .filter_item_sheet_panel{
        font-size: var(--font-size-4);
        color: var(--font-color);
    }

    .filter_sheet_clear_all_btn{
        font-size: var(--font-size-4);
        --color: var(--primary-color);
    }
    .with_login-title_in_center_mob {
        text-align: center;
        width: 100%;
        display: flex;
        height: auto;
    }

    .with_login-title_in_center_mob .with_login-logo-mob {
        width: 105px;
        margin: auto;
        height: auto;
    }
    .filter_sheet_header{
        box-shadow: none;
        border: 1px solid #cccccc;
    }

    .filter_sheet_header_text{
        font-size: var(--font-size-3);
        color: var(--font-color);
        font-weight: bold;
    }

    .filter-options {
        flex: 1;
        padding: 16px;
        overflow-y: auto;
    }

    .option-count {
        margin-left: auto;
    }

    .filter-footer {
        display: flex;
        justify-content: space-between;
        padding: 12px 16px;
        border-top: 1px solid #ddd;
        background: #fff;
    }

    ion-modal::part(content) {
        border-top-left-radius: 16px!important;
        border-top-right-radius: 16px!important;
        border-bottom-left-radius: 0!important;
        border-bottom-right-radius: 0!important;
    }

    /*////// filter modal //////*/
    /* === Job Portal === */
    .news-footer .view_news_button {
        padding: 5px 10px;
        text-align: center;
        border-radius: 10px;
        margin-left: auto;
        background: var(--primary-color);
        font-size: var(--font-size-5);
        color: #ffffff;
        display: flex;
    }
    .news-footer .view_news_button ion-icon {
        margin-right: 3px;
        font-size: var(--font-size-5);
    }


    /*///// MATRIMONIAL PAGE //////*/
    /* MatrimonyProfileCard.css */

    .matrimony-list {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        position: relative;
    }

    .matrimony-card {
        display: flex;
        align-items: flex-start;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 1px 4px rgba(0,0,0,0.1);
        padding: 12px;
        position: relative;
    }

    .matrimony-card-img {
        width: 80px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
        flex-shrink: 0;
    }

    .matrimony-card-info {
        flex: 1;
        margin-left: 12px;
    }

    .matrimony-card-name {
        font-size: var(--font-size-4);
        font-weight: bold;
        margin: 0;
        color: #222;
    }

    .matrimony-card-details {
        font-size: var(--font-size-4);
        margin: 4px 0;
        color: #444;
    }

    .matrimony-card-heart {
        font-size: var(--font-size-1);
        color: #ff5a5f;
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
    }
    /*///// MATRIMONIAL PAGE //////*/c


    /*/////// Mobile more tabs //////////*/

    .more-sheet-modal {
        border-radius: 18px 18px 0 0;
        bottom: 56px;
    }


    .ion-modal {
        animation: slideUp 0.3s ease forwards;
    }

    @keyframes slideUp {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0);
        }
    }

    .more-sheet-modal .modal-wrapper {
        border-radius: 16px 16px 0 0;
    }

    .more-sheet-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        text-align: center;
        margin-top: 0.6rem;
    }

    .more-sheet-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .more-tile {
        width: 55px;
        height: 55px;
        border-radius: 8px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 7px 0px #00000014;
        transition: transform 0.2s ease;
    }

    .more-sheet-item.active ion-icon{
        color: var(--primary-color);
    }
    .more-sheet-item.active span{
        color: var(--primary-color);
    }

    .more-sheet-item ion-icon {
        font-size: var(--font-size-2);
        color: var(--font-color);
    }

    .more-sheet-item span {
        margin-top: 7px;
        font-size: var(--font-size-4);
        color: var(--font-color);
    }

    /*.more-sheet-modal::part(handle){*/
    /*    display: none;*/
    /*}*/

    /*/////// Mobile more tabs //////////*/




}