@tailwind base;
@tailwind components;
@tailwind utilities;


.fontsize1{
    font-size: 1rem;
}
.fontsize2{
    font-size: 0.8rem;
}
body{
    font-family: 'Roboto', 'Inter', sans-serif;;
}
ion-header {
    box-shadow: none!important;
    height: 3.5rem;
}
.main_logo_and_slogan_container_header {
    background: var(--theme-gradiant-color);
    display: flex;
}

.main_logo_and_slogan_container_header .main_welcome_header_logo_section {
    margin: auto;
}

.main_logo_and_slogan_container_header .main_welcome_header_logo_section svg {
    margin: auto;
    padding-right: 0px;
}
.main_logo_and_slogan_container_header .main_welcome_header_logo_section .logo_login_text {
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 900;
}
.welcome_slogan_container {
    width: 100%;
}

.main_logo_and_slogan_container_header.login_text_in_page {
    padding: 18px;
    color: #ffffff;
    font-size: .29333rem;
}
.content-theme-off-white-bg-color{
    background: var(--off-white-back-color)!important;
}

.main_logo_and_slogan_container_header.login_text_in_page .login_head {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
}

.main_logo_and_slogan_container_header.logo_section {
    padding: 20px 0px;
    border-bottom: 1px solid #d2d2d2;
}
.main_form_container_section {
    padding: 16px;
    background: var(--off-white-back-color);
    height: 90vh;
}

.main_form_container_section .login_form_label {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.main_form_container_section .login_form_label svg {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: .16rem;
}

.main_form_container_section .signup_button_main_form {
    background-color: var(--theme-primary-button-color);
    width: 100%;
    height: 50px;
    color: var(--theme-button-text-color);
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .02rem;
    border-radius: 0.5rem;
    border: none;
}

.main_form_container_section .otp_button_main_form {
    background-color: var(--theme-primary-button-color);
    width: 100%;
    height: 45px;
    color: var(--theme-button-text-color);
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .02rem;
    border-radius: 0.5rem;
    border: none;
}

.main_form_container_section .form_input_section.input {
    width: 100%;
    padding-left: 10px;
}

.main_form_container_section .form_input_section {
    padding-left: 10px;
    background: var(--theme-background-secondry-color);
    border: none;
    border-radius: .26667rem;
    color: var(--theme-text-color);
    height: 45px;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 10px;
}
.main_form_container_section .form_second_label_input {
    margin-top: 1.5rem;
}
.loading-spinner+.loading-content {
    font-size: 1.3em;
}
.first_time_user_container_screen .logo_in_container svg {
    margin: auto;
}
.profile_account_main_page_header_container{
    background: var(--off-white-back-color);
}
.profile_account_main_page_header_container .profile_account_main_page_header_container_background{
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    border-radius: 0 0 1.6rem 1.6rem;
    padding: 1rem 1rem 6.5rem 1rem;
    background: var(--theme-gradiant-color);
}

.profile_account_container-content__avatar .userAvatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_account_container-content__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 1.6rem;
    overflow: hidden;
}
.userInfo__container-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 .45333rem;
    color: #fff;
}
.profile_account_main_page_header_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.profile_account_main_page_header_wrapper .userAvatarWrapper{
    width: 100%;
    height: 100%;
}
.userInfo__container-content__name {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    line-height: 23px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    color: #ffffff;
}
.userInfo__container-content-nickname {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1.6rem;
    color: #fff;
}

.userInfo__container-content-nickname_edit{
    display: flex;
    align-items:center;
    gap:0.2rem;
}

.userInfo__container-content-nickname_input{
    font-size:1.5rem;
    padding: 0.1rem;
    color:var(--text_color_L1);
}

.userInfo__container-content-nickname_edit_icon{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.userInfo__container-content-logintime {
    font-size: .87rem;
}
.userInfo__container-content-uid {
    padding: .2rem 0;
    font-size: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.profile_account_main_userinfo_content{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem 1rem;
    position: relative;
    top: -4.4rem;
}
.profile_account_main_userinfo_content .totalSavings__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: auto;
    border-radius: .4rem;
    background: #ffffff;
}

.totalSavings__container-header {
    width: 100%;
    display: flex;
}

.totalSavings__container-header-box {
    padding-bottom: .26667rem;
    position: relative;
}
.totalSavings__container-header__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
 .totalSavings__container-header__title .acc_balance_title_tip {
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--text_color_L2);
}
.totalSavings__container-header__subtitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-column-gap: .32rem;
    column-gap: .32rem;
    width: 100%;
    margin-top: .2rem;
    font-size: .49rem;
    font-weight: 700;
    color: var(--text_color_L1);
}
.totalSavings__container-header__subtitle .svg-icon {
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
}
.ar-1px-b:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: .01333rem;
    border-bottom: .01333rem solid var(--Dividing-line_color);
    color: #e6e8e8;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.financialServices__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .53333rem;
}

.financialServices__container-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: .26667rem;
}

.financialServices__container-box>div {
    width: calc((100% - .26667rem) / 2);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    color: var(--text_color_L2);
    padding: .24rem;
    background: #ffffff;
    border-radius: .13333rem;
}
.financialServices__container-box>div svg {
    width: 4rem;
    height: 4rem;
}
.financialServices__container-box>div>div {
    position: relative;
    padding: .4rem;
    border-radius: .5rem;
}

.financialServices__container-box-para {
    padding: 0 .13333rem;
    box-shadow: none !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.financialServices__container-box-para h3 {
    font-size: 1.1rem;
    color: var(--text_color_L1);
}
.financialServices__container-box>div span {
    font-size: 1rem;
    color: var(--text_color_L2);
}
.serviceCenter__container {
    padding: .9rem .8rem;
    border-radius: .5rem;
    background: #ffffff;
    height: auto;
}
.serviceCenter__container h1 {
    margin-bottom: 1.3rem;
    color: var(--text_color_L1);
    font-size: 1.3rem;
}
.serviceCenter__container-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: .64rem;
    color: var(--text_color_L2);
}
.serviceCenter__container-items__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .4rem;
    font-size: 1rem;
}
.serviceCenter__container-items__item svg {
    width: 3.2rem;
    height: 3.2rem;
}
.serviceCenter__container-items__item span {
    text-align: center;
}
.serviceCenter-wrap-header {
    margin: 2.3rem 0 .5rem;
}
.otp_message_p{
    font-size: 1rem;
}
.serviceCenter-wrap-header button {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    padding-block: .5rem;
    color: var(--main-color);
    background: #ffffff;
    border: .01333rem solid var(--main-color);
    border-radius: .66667rem;
    font-size: 1.2rem;
    gap: 01rem;
}
.serviceCenter-wrap-header button svg {
    width: 1.6rem;
    height: 1.6rem;
}
.signup_button_main_form.signup,.signup_button_main_form.login {
    border: 1px solid var(--theme-primary-button-color);
    background: none;
    color: var(--theme-primary-button-color);
}

.custom_site_alert_toast h2 {
    font-size: 1rem!important;
}
.loading_loader_spinner_container .loading-wrapper{
    padding-bottom: 2rem!important;
    padding-top: 2rem!important;
}

.custom_site_alert_toast .alert-message {
    font-size: 1.1rem!important;
}

.custom_site_alert_toast .alert-button-role-confirm {
    font-size: 1.2rem!important;
    color: #ffffff!important;
    background: var(--ion-color-primary, #3880ff)!important;
    border-radius: 10px!important;
    text-transform: none!important;
    width: 45%!important;
    padding: 0.8rem!important;
    height: fit-content!important;
}

.custom_site_alert_toast .alert-button-role-cancel {
    font-size: 0.8rem!important;
    background: #cccccc!important;
    color: #ffffff!important;
    border-radius: 10px!important;
    text-transform: none!important;
    width: 45%!important;
    padding: 0.8rem!important;
    height: fit-content!important;
}

.custom_site_alert_toast  .alert-button-group {
    justify-content: center!important;
}

.custom_site_alert_toast .alert-button-inner {
    justify-content: center!important;
}

.wallet-container-header {
    background: var(--theme-gradiant-color, var(--bg_color_L2));
    width: 100%;
    color: #fff;
    padding-bottom: .8rem;
}

.wallet-container-header-belly {
    padding-top: .8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.wallet-container-header-belly svg {
    width: 3rem;
    height: 3rem;
}
.wallet-container-header-belly>div:nth-of-type(1) {
    margin: .8rem 0;
    font-size: 1.8rem;
    line-height: 2rem;
}
.wallet-container span {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: .06em;
    font-size: 1rem;
    text-align: center;
}
.wallet-container-header-belly .wallet_header {
    font-size: 1.3rem;
}

.wallet-container-content {
    display: flex;
    flex-direction: column;
    gap: .32rem;
    padding-inline: 1.3rem;
    padding-bottom: 3rem;
    position: relative;
    align-items: center;
    margin-top: 1.8rem;
}
.wallet-container-content .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem .3rem .5rem;
    font-family: bahnschrift;
    border-radius: .26667rem;
    background-color: var(--bg_color_L2);
    width: 100%;
    margin-top: .7rem;
}
.wallet-container-content .container .progressBars {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-bottom: 2.6rem;
}
.wallet-container-content .container .progressBars>div {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wallet-container-content .container .progressBars>div .van-circle {
    width: 100%;
    height: 7.2rem;
}

.van-circle {
    position: relative;
    display: inline-block;
    text-align: center;
}
.wallet-container-content .container .progressBars>div h3 {
    margin-top: .9rem;
}

.wallet-container h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: .06em;
    font-size: 1.4rem;
    color: var(--text_color_L1);
}
.wallet-container .progressBars span {
    color: var(--text_color_L1);
}

.wallet-container {
    font-family: 'Roboto', 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    background: var(--off-white-back-color);
}

.van-circle svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.van-circle__layer {
    stroke: var(--bg_color_L3);
}
.wallet-container-content .container .recycleBtnD {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}
.wallet-container-content .container .recycleBtnD .recycleBtn {
    width: 100%;
    height: 3.2rem;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .06rem;
    border: none;
    border-radius: 1.3rem;
    background: var(--theme-gradiant-color);
}
.wallet-container-content .container .userDetail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .28rem;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
    flex-direction: initial;
    width: 100%;
    margin-top: .8rem;
}
.wallet-container-content .container .userDetail>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    gap: .26rem;
}
.wallet-container-content .container .userDetail>div .imgD {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 3rem;
    background: var(--bg_color_L2);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: .3rem;
}
.wallet-container .imgD img {
    position: relative;
    width: calc(100% + .32rem);
}

.wallet-container-content .container .userDetail>div .imgD img {
    width: 100%;
    height: auto;
}
.wallet-container-content .container .userDetail>div span {
    font-size: 1.1rem;
}


.van-circle__hover {
    fill: none;
    stroke: var(--theme-primary-button-color);
    stroke-linecap: round;
}
.wallet-container-content .container .progressBars .van-circle__text {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text_color_L1);
}
.van-circle__text {
    position: absolute;
    top: 50%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 4px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.content-getbet {
    padding: 0 .32rem;
    background: var(--bg_color_L1) !important;
}
.navbar {
    height: 1.22667rem;
    z-index: 100;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
}
.navbar-fixed {
    position: fixed;
    top: 0;
    -webkit-user-select: none;
    user-select: none;
    z-index: 100;
    background: var(--bg_color_L2);
    color: var(--text_color_L1);
    width: 100%;
    left: 0;
    -webkit-transform: translateX(0);
    transform: translate(0);
}
.navbar__content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 3.5rem;
    color: var(--text_color_L1);
    background: var(--theme-gradiant-color);
}
.navbar__content-left {
    position: absolute;
    left: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    top: 0;
}
.navbar__content-left img {
    height: 70%;
    margin-right: 10px;
}
.navbar__content-left span {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: .2rem;
    color: #ffffff;
}
.Wallet__C {
    padding: 1.1rem 1.1rem 0;
    position: relative;
}

.Wallet__C-balance {
    background-color: var(--bg_color_L3);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem;
    padding: 1.5rem;
    position: relative;
    z-index: 0;
}

.Wallet__C-balance-l1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--text_color_L1);
    overflow: hidden;
}
.Wallet__C-balance-l1>div {
    position: relative;
    word-break: break-all;
    pointer-events: none;
    width: fit-content;
    margin: auto;
}
.Wallet__C-balance-l2 {
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: .4rem;
    font-size: 1.3rem;
    color: var(--text_color_L1);
}
.Wallet__C-balance-l2>svg {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.4rem;
}
.Wallet__C-balance-l3 {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-between;
    margin-top: 2rem;
    line-height: 1rem;
    background: var(--norm_green-color);
    border-radius: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
}
.Wallet__C-balance-l3>div {
    margin: auto;
}
.navbar__content-right {
    position: absolute;
    right: 1.3rem;
}
.content-getbet__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .2rem;
}
.content-getbet__right .message {
    color: #ffffff;
    font-size: 1.1rem;
    padding-top: 0.16rem;
}

.getbet__container.allGame {
    grid-template-columns: repeat(3, 1fr);
}

.getbet__container {
    display: grid;
    grid-gap: 0.6rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}
.getbet__container.allGame .item {
    width: auto;
    height: auto;
}

.getbet__container .item {
    position: relative;
    border-radius: .26667rem;
}

.getbet__container .item .gameImg {
    width: auto;
    height: 11.5rem;
    border-radius: .26667rem;
    background: var(--theme-gradiant-color);
    margin-top: .4rem;
}
.getbet-title.getbet-line {
    padding-left: 0.34rem;
    color: var(--text_color_L2);
    gap: .53333rem;
}

.getbet-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    font-size: .48rem;
    height: .8rem;
    font-weight: 700;
}
.getbet-title.getbet-line:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: .2rem;
    height: 1rem;
    background: var(--main-color);
    border-radius: .2rem;
}
.getbet-title-left {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    gap: .3rem;
    color: var(--text_color_L1);
    text-transform: uppercase;
}
.getbet__container_main_body {
    margin-top: 1.5rem;
    padding: .9rem;
}
.processing_fee_container.first_list-item {
    box-shadow: none;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--bg_color_L3);
    margin: 1rem;
}
.processing_fee_container.first_list-item .head {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: .8rem;
}
.processing_fee_container.first_list-item .head .title {
    font-size: 1.1rem;
    color: var(--text_color_L1);
    font-weight: 600;
    text-transform: uppercase;
}
.processing_fee_container.first_list-item .head .orange {
    font-size: 1.1rem;
    color: var(--theme-primary-button-color);
    font-weight: 600;
}
.processing_fee_container.first_list-item .description {
    font-size: .9rem;
    color: var(--text_color_L2);
    margin-bottom: 1rem;
}
.processing_fee_container.first_list-item .foot {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.processing_fee_container.first_list-item .progress {
    background: #d8d8d8 !important;
    height: 43px;
    border-radius: 16px;
    position: relative;
    width: 100%;
}
.processing_fee_container.first_list-item .progress .step {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%) translateY(-50%);
    color: var(--text_color_L1);
    font-size: 1.1rem;
}

.error {
    color: #f70000;
}

.avatar-modal-main-wrapper .avatar-grid {
    margin-top: 0.625rem;
}

.avatar-modal-main-wrapper .avatar-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem; /* Space between rows */
}

.avatar-modal-main-wrapper .avatar-col img{
    cursor: pointer;
}

/* Highlight selected avatar with a border */
.avatar-modal-main-wrapper .avatar-col .selected-avatar {
    border: 2px solid #4CAF50; /* Green border for selected avatar */
    transform: scale(1.1); /* Slight zoom effect */
}
.navbar__content-center {
    color: #ffffff;
    font-size: 1.3rem;
}

.inner_page.Wallet__C:before {
    content: "";
    display: block;
    width: 100%;
    height: 11.4rem;
    background: var(--theme-gradiant-color);
    border-radius: 0 0 1.53333rem 1.53333rem;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.inner_page.Wallet__C .Wallet__C-balance {
    min-height: 2rem!important;
}
.Betting__C {
    width: calc(100% - 2rem);
    margin: 1.7rem auto 0;
    background: var(--bg_color_L2);
    border-radius: .5rem;
    position: relative;
}

.Betting__C-mark.full_screen_timer {
    background: rgb(0 0 0 / 6%);
    height: 20rem;
}
.Betting__C-mark {
    width: 100%;
    background: rgb(230 230 230 / 60%);
    color: var(--main-color);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
    align-items: center;
}
.Betting__C-mark>div {
    border-radius: .3rem;
    margin: 0 .3rem;
    background-color: var(--bg_color_L3);
    font-weight: 700;
    width: 20%;
    font-size: 3rem;
    text-align: center;
}
.Betting__C-mark.full_screen_timer>div{
    font-size: 5rem;
    width: 50%;
}
.TimeLeft__C {
    width: calc(100% - 2rem);
    height: fit-content;
    margin: .8rem auto 0;
    background: var(--ion-color-primary);
    color: var(--text_color_L4);
    border-radius: .5rem;
    padding: 1rem;
}
.TimeLeft__C_bottom .TimeLeft__C-id {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 1rem;
    color: #ffffff;
}
.Betting__C-numC {
    width: 100%;
    margin-top: .7rem;
    background: var(--bg_color_L1);
    border-radius: .26667rem;
    padding: 1rem;
}

.Betting__C-numC .Betting__C-numC-head {
    text-align: center;
    font-size: .9rem;
    color: var(--ion-color-primary);
    font-weight: 600;
}
.GameList__C {
    height: 6.8rem;
    width: calc(100% - 2rem);
    background: var(--bg_color_L3);
    border-radius: .5rem;
    position: relative;
    margin: .7rem auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.GameList__C-item.active {
    background: var(--ion-color-primary);
    width: 35%;
}
.GameList__C-item {
    width: 65%;
    height: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
    border-radius: .52rem;
}

.GameList__C-item.active>div {
    height: 100%;
    line-height: 1.6rem;
    font-size: .8rem;
    margin: auto;
    padding-top: 3rem;
    background-size: 2.7rem;
    background-position: center .18667rem;
    background-repeat: no-repeat;
    color: var(--text_color_L4);
    background-image: url(./img/time_a-win-go-img.png);
}
.GameList__C-item.not_active .bet_pre_txt_1 {
    letter-spacing: .08rem;
    font-size: 1.7rem;
    color: #00be00;
    font-weight: 600;
}

.GameList__C-item.not_active {
    box-shadow: 4px 0px 20px 0px #cccccc82;
    width: 65%;
    height: 100%;
    padding: .5rem;
}
.GameList__C-item.not_active .bet_pre_txt_2 {
    letter-spacing: .08rem;
    font-size: 1.7rem;
    color: var(--text_color_L1);
    font-weight: 600;
}


.TimeLeft__C-up .TimeLeft__C-id {
    font-weight: 700;
    font-size: 0.9rem;
    height: 1rem;
    margin-bottom: 1rem;
    line-height: 1.1rem;
    color: #ffffff;
}
.TimeLeft__C-up .TimeLeft__C-time {
    line-height: .8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.TimeLeft__C-up .TimeLeft__C-time>div:first-child {
    background: var(--bg_color_L1);
}

.TimeLeft__C-up .TimeLeft__C-time>div {
    color: var(--text_color_L1);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    margin: auto;
    border-radius: .3rem;
    background-color: var(--bg_color_L2);
}
.TimeLeft__C-up  .TimeLeft__C-time>div+div {
    margin-left: .24rem;
}
.TimeLeft__C-up  .TimeLeft__C-time>div:last-child {
    background: var(--bg_color_L1);
}
.avatar_heading_choose {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    border-bottom: 1px solid #f1f1f1;
}

.avatar_heading_choose h2 {
    letter-spacing: .01rem;
    padding-bottom: .1rem;
    padding-top: .1rem;
}

.avatar-grid .avatar-col .userAvatar {
    width: 86px;
    height: 86px;
    max-width: unset!important;
    box-shadow: 0px 0px 4px 0px #ccc;
}
.GameRecord__C {
    width: calc(100% - 2.5rem);
    margin: 2rem auto 0;
    text-align: center;
    font-size: .7rem;
}
.GameRecord__C-head {
    height: 3.4rem;
    line-height: 2.4rem;
    background: var(--ion-color-primary);
    border-radius: .3rem .3rem 0 0;
    font-weight: 700;
    font-size: .72rem;
    color: #ffffff;
    margin-top: 0.6rem;
}
.van-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.GameRecord__C-head .van-col {
    height: 3.4rem;
    overflow: hidden;
    font-size: 1.1rem;
    line-height: 3rem;
}

.van-col--9 {
    flex: 0 0 50%;
    max-width: 50%;
}
.van-col {
    display: block;
    box-sizing: border-box;
    min-height: .01333rem;
}
.van-col--5 {
    flex: 0 0 25%;
    max-width: 25%;
}
.GameRecord__C-body {
    line-height: 3rem;
}
.GameRecord__C-body>div {
    background: var(--bg_color_L2);
    color: var(--text_color_L1);
    font-size: 1rem;
}
.TimeLeft__C_bottom.TimeLeft__C.for_warning_message {
    height: fit-content!important;
}
.ion_tab_button_cont svg{
    width: 3rem;
    height: 3rem;
}
.ion_tab_button_cont svg{
    font-size: .9rem;
}

.serviceCenter-wrap-header.for_warning_message {
    padding: 1.3rem!important;
    margin: 0.5rem 0!important;
}

.add-money-to-game-wallet-modal .add_money_game_wallet_heading{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    border-bottom: 1px solid #f1f1f1;
}

.add-money-to-game-wallet-modal .ion-padding h2 {
    letter-spacing: .06rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.add-money-to-game-wallet-modal .enter_amount_label {
    font-size: 1.5rem!important;
    font-weight: 500!important;
    color: #555!important;
    display: block!important;
}

.ar-searchbar__selector_clear {}.ar-searchbar__selector_clear {}

.list_status_type {
    text-align: center;
    padding-top: .6rem;
    line-height: 3.4rem;
    font-size: 1.1rem;
    color: #878787;
}

.list_status_type .list_status_type_item {
    border-bottom: 1px solid #ccc;
    padding: 0.2rem 0.1rem;
}
.list_status_type_item.active {
    color: var(--main-color)!important;
}

.add-money-to-game-wallet-modal .add-money-input {
    padding-left: 10px;
    background: var(--theme-background-secondry-color);
    border: 1px solid var(--theme-primary-button-color);
    border-radius: .3rem;
    color: var(--theme-text-color);
    height: 45px;
    font-size: 1.1rem;
    width: 100%;
    margin-top: 1rem;
}

.add-money-to-game-wallet-modal .submit-transfer-btn {
    background-color: var(--theme-primary-button-color);
    width: 100%;
    height: 45px;
    color: var(--theme-button-text-color);
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .04333rem;
    border-radius: .7rem;
    border: none;
}


.userInfo__container-setting-center {
    background: var(--bg_color_L2);
}

.userInfo__container-setting-center {
    background: var(--bg_color_L3);
    border-radius: .26667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: .29333rem 1.3rem;
    position: relative;
    z-index: 99;
}

.userInfo__container-setting-center-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.userInfo__container-content__avatar {
    border-width: .3rem;
}

.userInfo__container-content__avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: .6rem;
    overflow: hidden;
}
.userInfo__container-content__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userInfo__container-setting-center-header-edit {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    color: var(--text_color_L2);
}

.userInfo__container-setting-center-header-edit span {
    font-size: 1.3rem;
    padding-right: 1.3rem;
}
.van-icon {
    position: relative;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.van-badge__wrapper {
    position: relative;
    display: inline-block;
}
.userInfo__container-setting-center-content {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: center;
    color: var(--text_color_L1);
    padding: 1.6rem 0;
}

.userInfo__container-setting-center-content div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.ar-1px-b:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: .01333rem;
    border-bottom: .01333rem solid var(--Dividing-line_color);
    color: #e6e8e8;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.userInfo__container-setting-center-content span {
    -webkit-padding-end: .16rem;
    padding-inline-end: .16rem;
}

.userInfo__container-setting-center-content h5 {
    color: var(--text_color_L2);
}

.userInfo__container-setting-center-content div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.userInfo__container-setting-center-content span {
    -webkit-padding-end: .16rem;
    padding-inline-end: .16rem;
}
.userInfo__container-setting-center-content svg {
    width: 2rem;
    height: 1rem;
    color: var(--main-color);
}
.content_setting-wrapper {
    position: relative;
    padding-block-end: .8rem;
}
.content_setting-wrapper {
    padding: 0 .8rem;
    background: var(--bg_color_L1) !important;
    padding-top: .6rem;
    height: 100%;

}
.content_setting-wrapper .content-sub_title {
    margin-top: 3rem;
}
.content_setting-wrapper .content-sub_title>div {
    font-size: 1.1rem;
    color: var(--text_color_L1);
    font-weight: 700;
    text-transform: uppercase;
    padding-left: .6rem;
    margin-bottom: .6rem;
    border-left: .2rem solid var(--main-color);
}
.setting_container .setting_container_item {
    height: 3rem;
    background: var(--bg_color_L2);
    border-radius: .6rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: .8rem .5rem;
    margin-bottom: 4rem;
}
.setting_container .setting_container_item div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
figure.icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: .6rem;
}

.setting_container .setting_container_item:last-of-type div .icon svg {
    min-width: .93333rem;
    min-height: .93333rem;
}

.icon svg {
    min-width: 1.33333rem;
    min-height: 1.33333rem;
    color: var(--main-color);
}
.setting_container .setting_container_item span {
    font-size: 1.1rem;
    color: var(--text_color_L1);
    padding: 0 .34667rem;
}
.setting_container .setting_container_item div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.setting_container .setting_container_item h5 {
    display: inline-block;
    font-size: 1.1rem;
    color: var(--text_color_L2);
    margin-right: 1rem;
}

.bet-container .tabs {
    background: var(--bg_color_L1);
}
.fun-tabs {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: var(--bg_color_L1);
}
.bet-container-searchBar {
    margin-top: -.27rem;
    padding-bottom: .48rem;
}

.ar-searchbar {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
    gap: .52rem;
    width: 100%;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ar-searchbar__selector {
    position: relative;
    display: flex;
    width: 11rem;
    height: 3rem !important;
    color: var(--text_color_L2);
}

.ar-searchbar__selector div {
    line-height: 1.06667rem;
}
.ar-searchbar__selector>div:first-of-type {
    position: relative;
    padding: 0 .5rem;
    z-index: 10;
}

.ar-searchbar__selector>div.transaction-type-dropdown {
overflow: hidden;
}

.ar-searchbar__selector>div {
    width: 100%;
    line-height: 3rem;
    border-radius: .4rem;
    background: var(--bg_color_L2);
}
.ar-searchbar__selector>div:first-of-type svg {
    position: absolute;
    top: 35%;
    right: 0rem;
}

.infiniteScroll {
    min-height: 5rem;
    border-radius: .4rem;
}

.infiniteScroll__loading {
    width: 100%;
    min-height: 22.6rem;
    height: 100%;
    margin-top: auto;
    color: var(--text_color_L1);
    font-size: 0.9rem;
    text-align: center;
}
.infiniteScroll__loading .empty {
    margin-top: 1rem;
}
.empty__container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.empty__container svg {
    opacity: .2;
}

.empty__container svg {
    width: 8rem;
    height: 6rem;
    margin-top: 1.3rem;
    margin-bottom: .24667rem;
}
.empty__container p {
    color: var(--text_color_L3);
    font-size: 1.3rem;
}
.svg-icon {
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
}
.svg-icon.icon-refreshBalance {
    margin: auto;
}
.custom-datetime {
    font-size: 1rem!important;; /* Set font size */
}
.custom-datetime::part(month-year-button) {
    font-size: .8rem!important; /* Adjust individual picker item font size */
}
.custom-datetime::part(calendar-day) {
    font-size: .8rem!important;
}

.settingPanel__container {
    padding: 0 .6rem .4rem;
    border-radius: .5rem;
    background: var(--bg_color_L2);
}

.settingPanel__container-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    color: var(--text_color_L1);
    padding-bottom: .26667rem;
}


.settingPanel__container-items__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1.1rem;
    padding: 1.2rem 0;
    position: relative;
}

.settingPanel__container-items__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .4rem;
}
.settingPanel__container-items__title svg {
    color: var(--main-color);
}
.settingPanel__container-items__item span {
    color: var(--text_color_L1);
}
.settingPanel__container-items-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.ar-1px-b:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: .01333rem;
    border-bottom: .01333rem solid var(--Dividing-line_color);
    color: #e6e8e8;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.settingPanel__container-items__item svg.svg_min_icon {
    width: 2.5rem;
    height: 2.5rem;
}

.settingPanel__container .content-sub_title div {
    margin-bottom: 2rem;
    color: var(--text_color_L1);
    font-size: 1.3rem;
    margin-top: 2rem;
}
.settingPanel__container .content-sub_title {
    border-bottom: 1px solid #eeeeee;
}
.settingPanel__container-items__item:last-child.ar-1px-b:after {
    content: none
}
.list_item_in_search_list_main .list_row_items span.list_game_id {
    font-weight: 600;
    font-size: 1.3rem;
}
.list_item_in_search_list_main .list_row_items span.list_game_id {
    font-weight: 600;
    font-size: 1.3rem;
}

.user_name_change_modal_heading{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    border-bottom: 1px solid #f1f1f1;
}
.user_name_change_modal_heading h2{
    letter-spacing: .01rem;
    padding-bottom: .1rem;
    padding-top: .1rem;
}
.enter_modal_user_label{
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    color: #555 !important;
    display: block !important;
}
.update_user_name_input{
    padding-left: 10px;
    background: var(--theme-background-secondry-color);
    border: 1px solid var(--theme-primary-button-color);
    border-radius: .1rem;
    color: var(--theme-text-color);
    height: 45px;
    font-size: 1.3rem;
    width: 100%;
    margin-top: 1.3rem;
}
.submit_user_name_update_btn{
    background-color: var(--theme-primary-button-color);
    width: 100%;
    height: 45px;
    color: var(--theme-button-text-color);
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .1rem;
    border-radius: 2rem;
    border: none;
}
.sysMessage__container-msgWrapper__item-title .SMALL {
    color: green;
}
.sysMessage__container-msgWrapper__item-title .BIG {
    color: red;
}
.sysMessage__container-msgWrapper__item-title .pending {
    color: red;
}
.sysMessage__container-msgWrapper__item-title .approved {
    color: green;
}
.sysMessage__container-msgWrapper__item-title .LOOSE {
    color: red;
}
.sysMessage__container-msgWrapper__item-title .WIN {
    color: green;
}
.sysMessage__container-msgWrapper__item {
    padding: .4rem;
    border-radius: .2rem;
    background: var(--bg_color_L2);
    text-align: left;
    margin-bottom: .64rem;
}

.sysMessage__container-msgWrapper__item-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: var(--text_color_L1);
}
.sysMessage__container-msgWrapper__item-title>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
}
.sysMessage__container-msgWrapper__item-title .title {
    margin-left: .1rem;
    font-size: 1.1rem;
    font-weight: 600;
}
.sysMessage__container-msgWrapper__item-title .action_button {
    margin-left: auto;
    text-transform: uppercase;
    font-size: 1.1rem;
}
.sysMessage__container-msgWrapper__item-title .action_button.update {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    padding: 10px 16px;
    color: #fff;
    background: var(--main-color);
}
.sysMessage__container-msgWrapper__item-time {
    margin-block: .2rem 0.6rem;
    color: var(--text_color_L2);
    font-size: 1rem;
    font-weight: 400;
}
.sysMessage__container-msgWrapper__item-content {
    color: var(--text_color_L2);
    font-size: 1.1rem;
    font-weight: 400;
    word-break: break-word;
}

.sysMessage__container {
    padding: .8rem;
    background: var(--off-white-back-color);
}
.virtual_item_listing{
    height: 78vh!important;
}
.virtual_item_listing.no_filter{
    height: 90vh!important;
}
ion-toast {
    font-size: 0.9rem !important;
}
.navbar__content-right .navbar__content-button {
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: .3rem .5rem;
    background: #177400;
}

ion-alert .alert-wrapper .alert-title {
    font-size: 1.3rem!important;
}

.alert-radio-label.sc-ion-alert-md {}

ion-alert .alert-wrapper .alert-radio-label {
    font-size: .8rem!important;
}
.error_amount_betting_transfer {
    padding: 0px;
}


ion-alert .alert-button-group .alert-button {
    font-size: 1.1rem!important;
}
.validate_add_betting_balance{
    font-size: .8rem;
    color: #555;
    padding: 4px 15px;
}
.acc_balance_tip{
    display: flex;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--text_color_L1);
}
.totalSavings__container-header-box.re_svg {
    display: flex;
    width: 15%;
    padding: 0 0.7rem;
}
.totalSavings__container-header-box.blanc_title {
    width: 85%;
    padding: 1rem;
}
.exit-from-game-button {
    height: 60px;
    background: var(--ion-color-primary);
    width: 100%;
    color: #ffffff;
    font-size: 1rem;
    display: block;
    margin: .6rem;
    font-weight: 600;
    border-radius: 8px;
}
.order_ber_button_section .order_button_and_text {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.order-bet-game-button {
    height: 60px;
    background: #2ca100;
    width: 100%;
    margin: .6rem;
    color: #ffffff;
    font-size: 1rem;
    display: block;
    font-weight: 600;
    border-radius: 8px;
 }
.order-bet-game-button.cancel_button {
    background: #b63e3e;
}
.main_logo_and_slogan_container_header.login_text_in_page .login_text {
    font-size: 1rem;
}
.platform_session_main_outer_container .platform_session_he {
    font-size: 1.3rem;
    padding: 1rem;
    border-bottom: 1px solid #d4d4d4;
}
.platform_game_list_container {
    padding: 1rem;
}
.platform_game_list_container .platform_name_button {
    font-size: 1.1rem;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.sysMessage__container-msgWrapper__item.for_session {
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.sysMessage__container-msgWrapper__item.for_session span.title {
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1rem;
}

.sysMessage__container-msgWrapper__item.for_session .settingPanel__container-items-right {
    position: absolute;
    right: 21px;
}
.inactive_session {
    color: #ff0000;
    margin-left: .8rem;
    font-size: 1rem;
}
.active_session {
    color: #56ff47;
    margin-left: .8rem;
    font-size: 1rem;
}
.sysMessage__container-msgWrapper__item.for_session .sysMessage__container-msgWrapper__item-content {
    line-height: 3rem;
}
.update_user_game_prev_result {
    margin-top: 1rem;
}

.update_user_game_prev_result .text_up {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}
.update_user_game_prev_result_button {
    display: flex;
}
button.exit-from-game-button.big {
    background: #da0000;
}