body{
    /*background-color: #F3F6FF !important;*/
    background-color: #f5f3f3 !important;
}
a,h1,h2,h3,h4,h5,h6,p,h1,h2,h3,h4,h5,h6,p{
    font-family: "Mulish", sans-serif;
}
.yellow-color{
    color:#fdcb72;
}
.red-color{
    color:#ee7f54;
}
.bgred-color{
    background-color:#ee7f54;
}
.bggreen-color{
    background-color:#21B75D !important;
}
.blue-color{
    color: #503d7f;
}
.bg-purple{
    background-color: #503d7f !important;
}
.btn-purple{
    background-color: #503d7f !important;
    border-color: #503d7f !important;
    border-radius: .35rem;
}
.btn-purple:hover{
    background-color: #d6642c;
}

.LightBlue-BgColor{
    background-color: #E5ECFF;
}
.green-color{
    color: #21B75D;
}
.white-color{
    color: #fff !important;
}
.white-bgcolor{
    background-color: #ffffff !important;
}
.signup-login {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.signup-login .sl-slider-caro {
    background-color: #256be6;
    position: relative;
    padding: 10% 0 5%;
}
.signup-login .sl-slider-caro .single-sl-slide img{
    max-width: 763px;
    margin: 0 auto 40px;
}
.btn-round, .iconBox .btn {
    border-radius: 50px;
}
.btn-filled {
    background-color: #256be6;
}
.btn-filled:hover {
    border: 2px solid transparent;
    color: #fff;
    transform: scale(1.05);
    will-change: transform;
}
.btn-filled::after{
    background-color: #37c567;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
}
.btn-filled:hover::after {
    transform: translate(0, 0);
}
/*Retailer Dashboard*/

.UnikPayIndia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
/*App Header*/
.app-header {
    max-width: 100%;
    height: 4.375rem;
    z-index: 100;
    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
    /*background: #fff;*/
    border-block-end: 1px solid #f3f3f3;
    transition: all .1s ease;
    /*box-shadow: 5px 7px 26px -5px #bebdcc;*/
}
@media (min-width: 992px) {
    .app-header {
        padding-inline-start: 15rem;
    }
}
.main-header-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    background: #fff;
}
.main-header-container .header-content-left, .main-header-container .header-content-right {
    display: flex;
    align-items: stretch;
}
.main-header-container .header-element {
    display: flex;
    align-items: stretch;
}
.animated-arrow.hor-toggle {
    text-align: center;
    width: 2rem;
    font-size: 1.2rem;
    position: relative;
    /*margin: .3125rem 0;*/
    margin-inline-end: .625rem;
}

.main-header-container .header-link {
    display: flex;
    align-items: center;
    padding: 1rem .65rem;
}
.animated-arrow {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    z-index: 102;
    transition: all 50ms ease-in-out;
    cursor: pointer;
    padding: .3125rem;
    margin-block-start: .375rem;
    margin-block-end: 0;
    margin-inline-start: .5rem;
    margin-inline-end: 0;
}
.main-header-center {
    flex: 1;
    margin: 0 50px;
    position: relative;
    display: none;
}
.main-header-center .form-control {
    border: 2px solid #f3f3f3;
    border-width: 1px;
    background-color: #fff;
    transition: none;
    height: 41px;
    color: #536485;
}
@media (min-width: 1401px) {
    .main-header-center .form-control {
        width: 500px;
    }
}
.main-header-center .search-btn {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    background-color: transparent;
    height: 40px;
    color: #b4bdce;
    transition: none;
    font-size: 16px;
    padding-inline-end: 13px;
    min-width: auto;

}
.form-control {
    border-color: #e9edf6;
    color: #333335;
    background-color: #fff;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.6;
    border-radius: .35rem;
}
.btn {
    font-size: 0.85rem;
    border-radius: 3px;
    padding: 0.5rem 0.85rem;
    box-shadow: none;
    font-weight: 500;
    &.btn-sm {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-size: 0.75rem;
    }
    &.btn-lg {
        padding: 0.65rem 1rem;
        font-size: 0.95rem;
    }
}
.dropup, .dropend, .dropdown, .dropstart, .dropup-center, .dropdown-center {
    position: relative;
}
.nav-link {
    display: flex;
    padding: 0.5rem 0rem;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    opacity: 1;
}
.main-header-container .navbar-link-icon {
    width: 1.75rem;
    font-size: 1.125rem !important;
    color: #536485;
    fill: #536485;
    transition: all ease 50ms;
    position: relative;
    padding: .25rem;
    border-radius: 50%;
}

.upi-toggle::after{
border:none;
}

.pulse {
    display: block;
    position: absolute;
    top: 1.113rem;
    inset-inline-end: 1rem;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #08c18d;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(34, 192, 60, .9);
    animation: pulse 2s infinite;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(34, 192, 60, 0.9);
        box-shadow: 0 0 0 0 rgba(34, 192, 60, 0.7);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(34, 192, 60, 0);
        box-shadow: 0 0 0 10px rgba(34, 192, 60, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(34, 192, 60, 0);
        box-shadow: 0 0 0 0 rgba(34, 192, 60, 0);
    }
}
.header-content-right  .notification_dropdown{
    display: flex;
    align-items: center;
}
.app-header .dropdown-toggle{
    position: relative;

}
.main-header-container .notifications-dropdown .main-header-dropdown {
    width: 18.75rem;
}
.main-header-container .main-header-dropdown {
    box-shadow: 0 .25rem .625rem rgba(20, 20, 20, .1);
    inset-block-start: -3px !important;
}
/*USer */
.header-content-right  .header-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.header-content-right  .header-profile .dropdown-menu {
    padding: 5px 0;
    min-width: 15.313rem;
}
.header-content-right  .userprofile{
    color: #536485;
    font-size: .875rem;
    font-weight: 500;
}
.header-content-right  .userprofile span{
    opacity: .7;
    font-size: .6875rem;
    font-weight: 400!important;
    line-height: 1.5;
}
.main-header-dropdown{
    width: 18.75rem;
}
.bg-warning {
    background-color: rgb(255,193,7) !important;
}
.bg-success-transparent {
    background-color: rgba(8,93,141,0.2) !important;
    color: rgb(8,93,141) !important;
}
.dropdown-menu .menu-header-content {
    background: linear-gradient(135deg, rgba(89,101,249,1) 0, #8039ca 100%);
}
.avatar.avatar-xl {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2.25rem;
}
.avatar {
    position: relative;
    height: 2.625rem;
    width: 2.625rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    color: #fff;
    font-weight: 500;
}
.avatar img {
    width: 100% !important;
    height: 100% !important;
    border-radius: .5rem;
}
.avatar.avatar-md {
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
}
.avatar.avatar-rounded {
    border-radius: 50%;
}
.dropdown-menu .dropdown-item i {
    display: inline-flex;
}
.menu-header-content .drop-user{
    font-weight: 500 ;
    color: #fff ;
    font-size: 1.125rem;
}
.header-content-right  .notification-r{
    font-weight: 500 !important;
    font-size: .875rem;
    color: #333335;
}
.header-content-right  .notification-r a{

    color: #333335;
}
.text-fixed-white {
    color: #fff !important;
}
.dropdown-item {
    color: #333335;
    white-space: unset;
    padding: .5rem .9375rem;
    font-size: .8125rem;
    font-weight: 500;

    &:not(.active) {
        &:hover,
        &:focus,
        &:active {
            color: rgb(89, 101, 249);
            background-color: rgba(89, 101, 249,0.05);
        }
    }
    &.active {
        background-color: rgb(89, 101, 249);;
    }
}
.dropdown-menu-right .dropdown-item {
    padding: .65rem;
    border-block-end: 1px solid #efefef;
}
.dropdown-menu-right .dropdown-item:last-child {
    border-block-end: 0;
}
.main-header-container .main-header-dropdown .dropdown-item {
    padding: .65rem;
    border-block-end: 1px solid #e7e7e7;
}
.bg-primary-transparent {
    background-color: rgba(89,101,249, 0.2) !important;
    color: #5965f9 !important;
}
.sub-color{
    color:#5965f9;
}
.retailer_p{
    color: #536485;

}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #212B36;
    margin-bottom: 0;
    font-family: "Mulish", sans-serif;
}

.nav-header {
    height: 4.5rem;
    width: 16.5rem;
    display: inline-block;
    text-align: left;
    position: fixed;
    top: 0;
    transition: all .2s ease;
    z-index: 20;
}
.nav-header .upi-logo {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.nav-header img {
    max-width: 9.7375rem;
}
.nav-control {
    cursor: pointer;
    position: absolute;
    right: -4rem;
    text-align: center;
    top: 55%;
    transform: translateY(-50%);
    z-index: 9999;
    font-size: 1.4rem;
    padding: 0.125rem 0.5rem 0;
    border-radius: 0.125rem;
}
.hamburger {
    display: inline-block;
    left: 0rem;
    position: relative;
    top: 0rem;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 1.625rem;
    z-index: 999;
}
.hamburger .line {
    background: #737b8b;
    display: block;
    height: 2px;
    border-radius: 0.1875rem;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
    margin-right: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hamburger .line:nth-child(1),.hamburger .line:nth-child(3) {
    width: 0.9375rem;
}
.hamburger .line:nth-child(2) {
    width: 1.625rem;
}
.hamburger:hover {
    cursor: pointer;
}
.hamburger:hover .line {
    width: 1.625rem;
}
.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(3) {
    width: 0.625rem;
    height: 0.125rem;
}
.hamburger.is-active .line:nth-child(2) {
    transform: translateX(0px);
    width: 1.375rem;
    height: 0.125rem;
}
.hamburger.is-active .line:nth-child(1) {
    transform: translateY(4px) translateX(12px) rotate(45deg);
}
.hamburger.is-active .line:nth-child(3) {
    transform: translateY(-4px) translateX(12px) rotate(-45deg);
}
.upi-header-position{
    position: fixed;
}
.header {
    height: 4.5rem;
    position: relative;
    padding: 0rem;
    background-color: #fff;
    z-index: 15;
    padding-left: 16.5rem;
    transition: all .2s ease;
    box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
}
.header .header-content {
    height: 100%;
    padding-left: 5.3125rem;
    padding-right: 1.875rem;
    align-items: center;
    display: flex;
}
.header .navbar {
    padding: 0;
    height: 100%;
    width: 100%;
}
.header .navbar .navbar-collapse {
    height: 100%;
    width: 100%;
}
.header-left {
    height: 100%;
    display: flex;
    align-items: center;
}
.Opening-Balance {
    display: block;
    align-items: center;
    height: 100%;
}


.header-right {
    height: 100%;
}
.navbar-expand .navbar-nav {
    flex-direction: row;
}

.header-right .nav-item {
    height: 100%;
    display: flex;
    align-items: center;
}

/*.header-right .notification_dropdown .nav-link {
    position: relative;
    color: #888888;
}*/
.navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}



/*.dropdown-menu-arrow:after {
    content: "";
    position: absolute;
    bottom: -0.20rem;
    inset-inline-end: 24px;
    border-bottom: 9px solid #763fcd;
    border-inline-start: 9px solid transparent;
    border-inline-end: 9px solid transparent;
}*/
/*Side Nav*/
.main-sidebar-header {
    height: 4.375rem;
    width: 15rem;
    position: fixed;
    display: flex;
    background: #fff;
    z-index: 9;
    align-items: center;
    justify-content: center;
    padding: .813rem 1.25rem;
    border-inline-end: 1px solid rgba(255, 255, 255, 0.1);
    border-block-end: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 50ms ease;
}
/*.main-sidebar-header .header-logo img {*/
/*    height: 3rem;*/
/*    line-height: 2rem;*/
/*}*/
.bg-color{
    background-color: #e4e3ef;
}
.simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit
}
.upi-side-nav{
    width: 15rem;
    padding-bottom: 0;
    height: 100%;
    position: fixed;
    top: 4.5rem;
    padding-top: 0;
    z-index: 6;
    inset-block-start: 0;
    inset-inline-start: 0;
    background: #444444;
    /*background: #503d81;*/
    /*background: linear-gradient(to bottom, rgba(89,101,249,1) 0%, rgba(118,75,162,1) 100%);*/
    transition: all .2s ease;
    box-shadow: 0rem 0.9375rem 1.875rem 0rem rgba(0, 0, 0, 0);

    .upi-side-nav-scroll {
        position: relative;
        height: 100vh;
        overflow-y:scroll;
        margin-block-start: 3.438rem;
        padding-block-start: .5rem;
        padding-block-end: 5rem;
    }
    .metismenu {
        display: flex;
        flex-direction: column;
        padding-top: 0.9375rem;

        &.fixed {
            position: fixed;
            top: 0;
            width: 100%;

        }
        &>li {
            display: flex;
            flex-direction: column;

            .badge{
                min-height: 16px;
                line-height: 16px;
                font-size: 0.6rem;
                padding: 0rem 0.3125rem;
            }

            a {
                color: #fff;
                &>i {
                    font-size: 0.85rem;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    top: 0;
                    height:auto;
                    width:auto;
                    text-align:center;
                    margin-right: 1rem;
                    border-radius: 0.125rem;
                    line-height:1;
                }
                &:hover{
                    background-color: #ee8055;
                    border-radius: .5rem;
                    color: #fff;
                }
            }
            &>a {
                font-weight: 500;
                display: inline-block;
                padding: .85rem 1rem;
                font-size: 0.8375rem;
                opacity: 0.8;
                color: #fff;
                i{
                    color: #fff;
                    opacity: 0.8;
                }

                g [fill] {
                    fill: #8088a1;
                }
            }
            &:hover,
            &:focus {

                &>a {
                    opacity: 1;
                    i{
                        opacity: 1;
                    }
                    g [fill] {
                        fill: #fff;
                    }
                }
            }
        }
    }
}
.upi-side-nav-scroll .LetsConnect{
    background-color: #ff5959e6;
    padding: 0.225rem;
    color: #fff;
    align-items: center;
}
.upi-side-nav-scroll .LetsConnect h6{
    color: #fff;
    padding:0.625rem;
}
.upi-side-nav-scroll .Your-Distri{
    background-color:#E5ECFF;
    padding:1rem;
}
.green-Bg{
    background-color: #08c18d !important;
}



/*one step dropdown*/
  .metismenu li ul {
      transition: all .2s ease-in-out;
      position:relative;
      z-index: 1;
      padding: 0.5rem 0;

      a {
          font-size: 0.85rem;
          padding: .4rem 1rem .4rem 3.5rem;
          -webkit-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
          opacity: 0.8;
          &:hover,
          &:focus,
          &.mm-active {
              opacity: 1;
              text-decoration: none;
              color: #fff;
          }
      }

  }
.metismenu li ul a {
    position: relative;
    display: block;
    outline-width: 0;
    color:#fff;
    opacity: 0.8;
    text-decoration: none;
}
.has-arrow {
    &:after {
        border-top: 0.3125rem solid #C8C8C8;
        border-left : 0.3125rem solid #C8C8C8;
        border-bottom: 0.3125rem solid transparent;
        border-right :  0.3125rem solid transparent;
        right :  1.5rem;
        top: 48%;
        -webkit-transform: rotate(-225deg) translateY(-50%);
        transform: rotate(-225deg) translateY(-50%);
    }
}
.has-arrow[aria-expanded=true]:after,
.mm-active>.has-arrow:after {
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
}
.metismenu .has-arrow:after {
    position: absolute;
    content: "";
    width: .5em;
    height: .5em;
    right: 1em;
    -webkit-transform-origin: top;
    transform-origin: top;
    top: 50%;
    transition: all .3s ease-out
}
.upi-side-nav .metismenu ul a:hover{
    padding-left: 4rem;

}
.upi-side-nav .metismenu ul a:before:hover{
    width: 1.25rem;

}
.upi-side-nav .metismenu ul a:before{
    content: "";
    height: 0.125rem;
    width: 0.375rem;
    background: #fff;
    opacity: 0.8;
    position: absolute;
    left: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-label {
    margin: 0.625rem 1.875rem 0;
    padding: .438rem 2.375rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    /*border-top: 0.0625rem solid #e6e6e6;*/
    color: #999999;
}
.nav-label::after {
    content: "--";
    position: absolute;
    inset-inline-start: 23px;
    /*top: 7px;*/
}
/*
UPI Body

}*/
@media (min-width: 992px) {
    .upi-content-body{
        min-height: calc(100vh - 7.5rem);
        margin-block-end: 0;
        margin-block-start: 4.75rem;
        margin-inline-start: 16.2rem;
        transition: all 50ms ease;
    }
}

.upi-content-body .update-news{
    background-color: #fff;
    font-size: 0.875rem;
    color: #000000;
}
.upi-content-body .left-content i{
    display: inline-block;
    color: #8587a7;
    font-size: 0.727rem;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.text-muted {
    color: #8587a7 !important;
}
.upi-content-body .left-content p{
    font-size: .875rem;
}
.left-content .content-title{
    font-weight: bold;
}
.crypto{
    background-color: #ee8055;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 500;
    padding: 0.625rem;
    /*padding-top: 0.85rem;*/
    color: #fff;
    display: inline-block;
}
.boxShadow{
    border-radius: 0.795rem;
    box-shadow: 0px 6px 24px 0px rgba(53, 55, 81, 0.06);
    /*height: calc(100% - 30px);*/
    padding: 1.275rem;
}
.retailer-das-icon{
    background-color: #fffdfc;
    /*width: 6rem;*/
    /*height: 6rem;*/
    border: 1px solid #ee7f5461;
    display: inline-block;
    border-radius: 0.635rem;
    box-shadow: 0 0 20px 0px #ee7f5417;
    transition: all linear 0.3s;
}
.retailer-das-icon:hover{
    box-shadow: 0 0 20px 0px #ee7f5496;
}
.retailer-das-icon img{
    padding: 0.825rem;
    width: 6rem;
    height: 6rem;
}
.retailer-das a{
    opacity: 1;
    color: #333335;
}
.animate-bell {
    -webkit-animation: ring 4s 0.7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s 0.7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s 0.7s ease-in-out infinite;
    transform-origin: 50% 4px;
}
@keyframes ring {
    0% {
        transform: rotate(0);
    }

    30% {
        transform: rotate(20deg);
    }
    30% {
        transform: rotate(-18deg);
    }

    50% {
        transform: rotate(-08deg);
    }
    81% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0);
    }
}
/*Tabs*/
.retailer-home-balance {
    margin-bottom: 1.875rem;
    background-color: var(--card);
    transition: all .5s ease-in-out;
    position: relative;
    border: 0px solid transparent;
    border-radius: 5px;
    /*box-shadow: 0px 6px 24px 0px rgba(53, 55, 81, 0.06);*/
    height: calc(100% - 30px);
}
.card-header {
    border-color: #e6e6e6;
    position: relative;
    background: transparent;
    padding: 1.5rem 1.875rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header:first-child {
    border-radius: 0.23rem;
}
.nav-pills {
    background-color: #fff;
    border: 1px solid #d86621;
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #416CEF;
    border-top-left-radius: 0.795rem;
    border-top-right-radius: 0.795rem;
    padding-top: 0;
    padding-bottom: 0;
}
.nav-pills .nav-link {
    border-top-left-radius: 0.795rem !important;
    border-top-right-radius: 0.795rem !important;
    border-radius: 0;
    padding: 0.35rem 1.875rem;
    color: #744e71;;
    font-size: 1rem;
}
.nav-pills.light .nav-link.active, .nav-pills.light .show > .nav-link {
    background: #d86621;
    color: #fff;;
    box-shadow: none;

}
.retailer-home-balance .tab-content {
    background-color: #fff;
    border-bottom-left-radius: 0.795rem;
    border-bottom-right-radius: 0.795rem;
    padding: 0.35rem 0rem;
    border: 1px solid #d6642c;
    border-top: none;
}
.retailer-home-balance .card-tabs-new{
    padding: 1.25rem 0rem;
}
.upi-home-right{
    /*background: #fff;*/

}
.upi-home-right .underBox{
    border-radius: 0.795rem;
    box-shadow: 0px 6px 24px 0px rgba(53, 55, 81, 0.06);
    height: calc(100% - 30px);
    padding: 1.275rem;
    background-color: #ffffff;
}
.upi-home-right .retailer-recent-trans{
    border-radius: 0.795rem;
    box-shadow: 0px 6px 24px 0px rgba(53, 55, 81, 0.06);
    height: calc(100% - 30px);
    padding-top: 1.275rem;
    background-color: #ffffff;
}

.Recent-Trans a{
    color: #978185;
}
.my-buss-sum img{
    width: 2.125rem;
    height: 2.125rem;
}
.my-buss-sum h3{
    font-size: 1rem;
    font-weight: 600;
}
.my-buss-sum h4{
    font-size: 1rem;

}
.upi-home-right .MoneyTransfer{
    background-color: #978185;
    border-radius: 5px;
    padding: 0.575rem;
}
.upi-home-right .MoneyTransfer h5{
    color: #fff;
}
.upi-home-right .summary-cc{
    padding: 0.575rem;
}
.upi-home-right .summary-cc h5{
    color: #ee8157;
}

/*Business Summary Page*/
.businessSum-Cat{
    background-color: #F7FAFC;
    border: 0.063rem solid #E5E7EB;
    padding: 0.75rem;
    color: #000000;
    font-size: 0.938rem;
}
.bus-summary-tablehead thead{
    border:1px solid #76D89B;
    background-color: #EFF7F9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.bus-summary-tablehead th{
    border:none;
}
.bus-summary-tablehead .buss-result-border td{
    border-top:none;
}
.ShowTrans{
    background-color: #fff;
    border-radius: 0.795rem;
    padding: 1.275rem;
}
.bsst-dmt{
    padding: 0.35rem 1.875rem;
    background-color: #EFF7F9;
    border-bottom: 1px solid #76D89B;
    margin-top: 0;
    color: #1d2124;
    font-weight: bold;
}
.main-retailer-report input{
    border: 1px solid #E5E7EB;
    background-color: #F7FAFC;
    border-radius: 5px;
}
.bss-select .form-select{
    border: 1px solid #c7b1ff;
    background-color: #fbfaff;
    border-radius: 5px;
    padding: 0.55rem 1.875rem 0.55rem 1rem;
    text-align: left;
    font-size: .813rem;
    width: 100%;
    color: #334151;

    option {
        background-color: transparent;
        padding: 0.35rem 0.75rem;
        border-radius: 0.25rem;
    }

    option:checked {
        background-color: #8760fb33;
        color: #8760fbe6;
    }

}
.bss-select .form-select::after{
    right: 10px;
}
.bss-select .form-select option:hover, .bss-select .form-select option:focus{
    background-color: #F7FAFC;
}
.pagination-style-1 .pagination .page-item.active:hover .page-link {
    border-radius: 3px;
    background-color: #8760fb;
    color: #fff;
}
.total-request{
    color: #416CEF;
    font-size: 14px;
}
.retailer-pagination .page-link:hover{
    background-color: #D9FBE6;
    color: #22C55E;
}
.retailer-pagination .page-link{
    color: #9FADBE;
    border: none;
}
.pagination_retailer select{
    background-color: #F7FAFC;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: 8px;
}
.retailer-addfund thead th{
    font-weight: normal;
    vertical-align: middle;
    padding: .45rem;
    text-align: center;
    font-size: 13px;
    background-color: #EFF7F9;
}
.retailer-addfund tbody td{
    font-weight: normal;
    vertical-align: middle;
    padding: .45rem;
    text-align: center;
    font-size: 13px;
    border-top: 0;

}
.retailer-addfund thead tr{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #76D89B;
}